@import "../../../assets/styles/main.scss";

.home-categories {
  width: 100%;
  margin-top: 80px;
  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
    color: $c-primary;
  }
  &__container {
    @include media(460px) {
      grid-template-columns: 1fr;
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-top: 24px;
  }
  &__image {
    background-position: 57px 74px;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vw;
  }
  &__item-title {
    margin-top: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: $c-primary;
    height: calc(#{100%} + 105px);
  }
  &__subtitle {
    margin-top: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $c-secondary;
  }
}
