@mixin mGridColumn($gap, $align:false) {
  display: grid;
  grid-auto-flow: column;

  @if $gap {
    grid-gap: $gap;
  }
  @if $align {
    align-items: center;
  }
}

@mixin media($width) {
  @media (max-width: $width) { @content; }
}
