@import "../../assets/styles/main.scss";

.arrow {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: $c-primary;
  border: 1px solid #b4bdc4;
  cursor: pointer;
  &--disabled {
    color: #e2e6e9;
    border-color: #e2e6e9;
    pointer-events: none;
  }
}
