@import "../../../assets/styles/main.scss";

.cart__container {
  @include media(1220px) {
    grid-auto-flow: row;
    grid-template-columns: 100%;
  }
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 60% 38%;
  align-items: flex-start;
  grid-gap: 2%;
  margin-top: 24px;
}
