@import "../../../assets/styles/main.scss";

.top-bar {
  @include media(786px) {
    grid-auto-flow: row;
  }
  @include mGridColumn(0, true);
  &__input {
    @include media(786px) {
      width: 0;
    }
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: $c-primary;
    &::placeholder {
      color: #b4bdc4;
    }
  }
  &__item {
    @include mGridColumn(25px, true);
    padding: 0 25px;
    box-shadow: -1px 0px 0px #e2e6e9;
    height: 100%;
    &-icon {
      cursor: pointer;
    }
    &--search {
      @include media(786px) {
        display: none;
        grid-gap: 0;
      }
    }
  }
}
