@import "../../../assets/styles/main.scss";

.cross {
  @include media(1260px) {
    display: block;
    position: relative;
    opacity: 0.9;
    background-color: #000;
    // z-index: 4;
  }
  display: none;
  // width: 12vh;
  // height: 12vh;
  height: 8.1vh;
  width: 8.1vh;
  cursor: pointer;
  &__line {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 80%;
    height: 6%;
    background: #fff;
    display: block;
  }
}
