@import "../../../../assets/styles/main.scss";

.tabs {
  @include media(768px) {
    display: block;
  }
  display: none;
  margin-top: 25px;
  &__pill {
    &--active {
      font-weight: bold;
    }
  }
  &__pills {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    justify-content: flex-start;
    text-transform: uppercase;
    border-bottom: 1px solid $c-primary;
    font-size: 23px;
    grid-gap: 12px;
  }
}
