@import "../../assets/styles/main.scss";

.pricing {
  margin: 6.5px 0;
  &--options {
    margin-top: 32px;
  }
  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    &--options {
      font-size: 32px;
      line-height: 41px;
    }
  }
  &__sale {
    margin-left: 8px;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: $c-secondary;
    &--options {
      font-size: 22px;
      line-height: 28px;
    }
  }
}

