@import "../../assets/styles/main.scss";

.item {
  width: 272px;
  border: 1px solid #E2E6E9;
  padding: 32px 24px 24px;
  &__box {
    margin-top: 24px;
  }
  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }
  &__characteristics {
    margin: 16px 0;
  }
}
