@import "../../../assets/styles/main.scss";

.items {
  @include media(1200px) {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
  }
  @include media(940px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media(620px) {
    grid-template-columns: repeat(1, 1fr);
  }
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  &--catalog {
    margin-top: 24px;
  }
  &--favourites {
    margin-top: 40px;
  }
}
