@import "../../../../assets/styles/main.scss";

.product-options {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  &__left {
    width: 320px;
  }
  &__id {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #b4bdc4;
  }
}
