@import "../../../../assets/styles/main.scss";

.product-options {
  &__left {
    width: 320px;
  }
  &__sale {
    font-size: 22px;
    line-height: 28px;
  }
  &__price {
    font-size: 32px;
    line-height: 41px;
  }
  &__pricing {
    margin-top: 32px;
  }
  &__toolbar {
    margin-top: 16px;
  }
  &__specs {
    margin-top: 32px;
  }
}
