@import "../../assets/styles/main.scss";

.header {
  @include media(1260px) {
    position: relative;
    padding: 0;
  }
  @include media(786px) {
    height: 100vh;
    width: 0;
    overflow: hidden;
  }
  @include media(400px) {
    padding-left: 0;
    // padding-left: 18px;
  }
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 24px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  box-shadow: 0px 1px 0px #e2e6e9;
  height: 64px;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}
