@import "../../../../assets/styles/main.scss";

.gallery {
  @include media(1220px) {
    grid-column: 1/3;
    grid-row: 1;
  }
  @include media(600px) {
    grid-auto-flow: row;
    justify-content: normal;
  }
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-gap: 17px;

  &__left {
    @include media(600px) {
      grid-auto-flow: column;
      grid-gap: 1%;
      grid-template-columns: 15%;
      width: 95%;
    }
    display: grid;
    grid-template-columns: 80px;
    grid-gap: 16px;
  }

  &__main {
    @include media(600px) {
      width: 100%;
      height: auto;
      max-height: 300px;
      grid-row: 1;
    }
    width: 464px;
    height: 464px;
    padding: 11px;
  }

  &__item {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    border: 1px solid #c4c4c4;
    &--active {
      border: 1px solid $c-primary;
    }
  }
}
