@import "./assets/styles/main.scss";

.app {
  &__wrapper {
    @include media(786px) {
     padding-top: 0;
    }
    @extend %w_content;
    max-width: 1136px;
    margin: auto;
    padding-top: 64px;
  }
}
