@import "./normalize.scss";
@import "./fonts.scss";
@import "./utils/extends.scss";
@import "./utils/mixins.scss";
@import "./utils/vars.scss";
// @import "~slick-carousel/slick/slick.css";
// @import "~slick-carousel/slick/slick-theme.css";

* {
  box-sizing: border-box;
  font-family: "Mont";
  color: $c-primary;
}
