@import "../../../assets/styles/main.scss";

.catalog-top {
  margin-top: 40px;
  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }
  &__subtitle {
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $c-secondary;
  }
}
